server_tokens off;

server {
    listen [::]:80;
    listen 80;
    server_name {{ domain }} www.{{domain}};

    client_max_body_size 10000m;
    gzip_disable "msie6";
    access_log off;
    error_log on;
    gzip_vary on;
    gzip on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_min_length 256;
    gzip_types application/javascript application/font-ttf ttf text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon;

    location /word/report.html {
       alias /var/log/nginx/report.html;
    }

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_set_header X-NginX-Proxy false;
        real_ip_header X-Real-IP;
        proxy_pass http://[::1]:8000;
        proxy_redirect off;
    }

    location /static/ {
        alias /home/www/{{location}}/static/;
        expires 35d;
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
        access_log off;
    }

    ### CLICKY ANTI-ADBLOCK PROXY - https://clicky.com/help/proxy
    resolver 1.1.1.1;

    location = /ae06dd8247f88b25.js {
        rewrite /ae06dd8247f88b25.js /js?in=%2F5c2d25fc8f67b7 break;
        proxy_pass https://static.getclicky.com;
        proxy_connect_timeout 10s;
        proxy_http_version 1.1;
        proxy_ssl_server_name on;
        proxy_set_header Host static.getclicky.com;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    location = /5c2d25fc8f67b7 {
        proxy_pass https://in.getclicky.com/in.php;
        proxy_connect_timeout 10s;
        proxy_http_version 1.1;
        proxy_ssl_server_name on;
        proxy_set_header Host in.getclicky.com;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
    ### / CLICKY
}




